<html>
	<head th:fragment="headerInc">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/material.min.css">
		<link rel="stylesheet" href="../css/material_icons.css">
		<script src="../js/googlecharts.js"> </script>
		<link rel="stylesheet" href="../css/custom.css">
		<script type="text/javascript" src="../ckeditor/ckeditor.js"></script>
		<link rel="stylesheet" href="../css/mdDateTimePicker.min.css">
		<title>AOS-HRMS</title>
	</head>
<body>
</body>
</html>