<!DOCTYPE html>
<html>
<head>
	<!--[if IE]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/custom.css">
	<title>AOS-HRMS</title>
</head>
<body>
	<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  	<header class="mdl-layout__header mdl-layout__header--transparent">
	    <div class="mdl-layout__header-row">
		      <!-- Title -->
		      <span class="mdl-layout-title"><img src="images/aos-logo-clean.png" class="logo-web-header"></span> 
		      <!-- Add spacer, to align navigation to the right -->
		      <div class="mdl-layout-spacer"></div>
		      <!-- Navigation -->
		      <nav class="mdl-navigation">
			       <a class="mdl-navigation__link" href="">Home</a> |
			       <a class="mdl-navigation__link" href="">Service</a> |
			       <a class="mdl-navigation__link" href="">Contacts</a>|
			       <a class="mdl-navigation__link" href="">Login</a>   |
			       <a class="mdl-navigation__link" href="">Register</a>
			  </nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">AOS HRMS</span>
	    <nav class="mdl-navigation">
	    	<a class="mdl-navigation__link" href="#">Home</a>
	        <a class="mdl-navigation__link" href="#">Service</a>
	        <a class="mdl-navigation__link" href="#">Contacts</a>
	        <a class="mdl-navigation__link" href="#">Login</a>
	        <a class="mdl-navigation__link" href="#">Register</a>
	    </nav>
	</div>
	<main class="mdl-layout__content">
		<div class="mdl-grid hrms-carousel">
			<div class="mdl-cell mdl-cell--6-col-desktop">
				<div class="aos-hrms-carousel-advert">
					<p>BETTER ENTREPRISE WITH AOS-HRMS</p>
					<p>Effective Recruitement Management, Robust Leave Management, Intuitive dashboards.</p>
                </div>
			</div>
			<div class="mdl-cell mdl-cell--6-col-desktop">
				<!-- mdl-cell--2-col-phone mdl-cell--8-col-tablet mdl-cell--2-col-desktop -->

				<div class="hrms-header-call-action">
					<p>
						Get Started with AOS HRMS
					</p>
					<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--white-300 mdl-color-text--green">REGISTER <i class="material-icons">keyboard_arrow_right</i></a>	
				</div>				
			</div>
		</div>
	</main>
	</div>
	<script src="js/material.min.js"></script>
</body>

</html>
